// Цвета
clrMain = #2f79ff
clrSecond = #e67e38
clrDark = #353837
clrDarkText = #100e0e
clrLight = #ffffff
clrBorder = darkColorText

// Размеры шрифта
fzXs = 12px
fzSm = 16px
fzMd = 20px
fzLg = 28px
fzXl = 35px
fzXX = 45px

baseFontSize = fzMd

// Шрифт
fntMain = 	Arial, Helvetica Neue, Helvetica, sans-serif

// Размеры экрана
wdtXL = 1313px



// Transition
fstAllAnimate = all .2s ease-in
slwAllAnimate = all .8s ease-out
