extends ../layout/main

block variables
	- var title = 'Заголовок '
	- var keywords = 'Ключевые слова'
	- var description = 'Описание страницы'
	- var pageClass = 'index-page'

block content
	div Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, debitis.
